---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <div class="text-center" style="margin-top: 14%;">
    <h1 style="font-size: 8rem;">404 Not Found</h1>
    <h2 style="font-size: 3rem; color: gray;">Porbably you shouldn't be here</h2>
    <span style="font-size: 4rem;">🤔</span>
  </div>
</Layout>
