---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import GeneralButton from '../components/GeneralButton.astro';
import SendButton from '../components/SendButton.astro';
---

<Layout title='Sisw Demo'>
	<main>
		<Header/>
		<div class="text-center">
			<SendButton/>
		</div>
	</main>
</Layout>