<label for="consoleArea" class="font-mono block mt-2 text-sm font-medium text-black-08 sm:pr-[550px]">
    Console
</label>
<textarea
  class="my-8 p-3 mt-1 fornt-mono bg-zinc-200 shadow-neutral-400 shadow-inner rounded-xl max-w-[590px] sm:max-w-full outline-none sm:min-w-fit cursor-default text-black-08 max-h-[200px] sm:max-h-fit"
  name="Console"
  id="consoleArea"
  cols="85"
  rows="10"
  aria-multiline="true"
  wrap="hard"
  style="resize: none;"
  aria-label="Console"
  placeholder="Things area going to appeare here..." disabled></textarea>
