<label for="consoleArea" class="font-mono block mt-2 text-sm text-black-08 sm:ml-16 md:ml-3  text-left">
    Console
</label>
<textarea
  class="my-8 p-3 mt-1 fornt-mono bg-zinc-200 shadow-neutral-400 shadow-inner rounded-xl md:max-w-[700px] max-w-[500px] outline-none cursor-default text-black-08 max-h-[200px] sm:max-h-fit sm:m-0"
  name="Console"
  id="consoleArea"
  cols="100"
  rows="10"
  aria-multiline="true"
  wrap="hard"
  style="resize: none;"
  aria-label="Console"
  placeholder="Things are going to appeare here..." disabled></textarea>
