---
console.log("javascript");
---

<header class="py-8 my-6 text-white px-4 mx-auto lg:py-16 lg:px-6 w-full max-w-full min-w-fit pb-[200px]">
  <div class="mx-auto text-center mb-8 lg:mb-16 max-w-full min-w-fit w-full">
    <h1 class="text-black mb-4 text-4xl tracking-tight font-extrabol sm:text-5xl">
        Sisw 🔎 Indexed Search
    </h1>
    <h2 class="font-light text-white sm:text-xl dark:text-black text-lg">
        Simple Indexed Search Web
    </h2>
  </div>
</header>
