---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Sisw is a Search Indexed Proyect Web created by SergioLKG this Simple Indexed Search Web this is a prototype web anb it can suddenly stop working." />
		<meta name="keywords" content="sisw simple search searcher index indexed web website sergiolkg browser project development astro tailwind">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	/* 
Pallete

light #F3F3ED
dark #080808
accent #89A6FB
light-accent #98CE00
dark-accent #008148

*/
	:root {
		--page-white: #F3F3ED;
		--page-black: #080808;
		--accent: #89A6FB;  
		--accent-light: #98CE00;
		--accent-dark: #008148;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	.text-black-08 {
		color: var(--page-black);
	}
	
	.text-accent {
		color: var(--accent);
	}

	.text-accent-light {
		color: var(--accent-light);
	}
	
	.text-accent-dark {
		color: var(--accent-dark);
	}

	.bg-page-white {
		background-color: var(--page-white);
	}

	.bg-page-black {
		background-color: var(--page-black);
	}

	.bg-accent {
		background-color: var(--accent);
	}

	.bg-accent-light {
		background-color: var(--accent-light);
	}
	
	.bg-accent-dark {
		background-color: var(--accent-dark);
	}

	html {
		color: var(--page-black);
		font-family: 'Calibri','Arial', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		background: #f2f2ed;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
